@import './header.sass'
@import './footer.sass'
@import url('https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap')

body 
    font-family: 'Barlow'
    font-weight: normal
    //background: red

.time-conatiner
    display: flex
    //align-items: center
    justify-content: center
    padding: 40px
    

    img 
        width: 100%

.TimeItem
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  transition: 0.3s
  padding: 15px 16px
  background-color: #BBEBFF
  border-radius: 5px


.TimeItem:hover 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)

.titulo
    font-size: 20px
    font-weight: bold
